body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: ;
}

#buttons {
    margin: 20px;
}

button {
    padding: 8px;
    margin: 20px;
}

#gridContainer {
    height: 35rem;
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
    color: rgb(253, 253, 253);
    border: 5px black solid;
    border-radius: 2%;
}
